jupyter
jupyterlab
ipyleaflet
ipywidgets
hvplot
cmocean
datashader
geoviews
holoviews
panel
voila
compliance-checker
pandas
requests
erddapy
cartopy
matplotlib
numpy
palettable
#iris
folium
#test
# this edit should only be in the branch "test"